
.navBar {
  background-color: #021f5a;
  height: auto;
  
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: white;
}

.item{
  text-align: center;
}

.item li{
  display: inline-block;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

 li a{
  color: white;
  text-decoration: none;
  padding-left: 2.6em;
  padding-right: 0.5em;
}